// COLORS
$white: #fff;
$primary-black-100: #25213b;
$primary-black-200: #19191d;
$primary-gray-100: #9696a0;
$primary-gray-200: #778699;

$primary-blue: #006fd6;
$primary-blue-lighter: #deefff;
$secondary-blue: #deefff;
$secondary-green: #3ab65c;
$secondary-purple: #3c3ab6;
$secondary-purple-2: #8c70ff;
$secondary-purple-lighter: #f6f3ff;
$secondary-yellow: #f4b400;
$secondary-yellow-lighter: #fff6de;
$secondary-gray: #878592;
$secondary-red: #b63a3a;

// FONT SIZES
$f-sm: 14px;
$f-base: 16px;

// box-shadows
$bs-nav: inset 0px -1px 0px rgba(220, 225, 231, 0.572143);
